<div class="main-container top-5-exchange-rates-container">
    <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner strokeWidth="3" [diameter]="50"></mat-spinner>
    </div>
    <div *ngIf="!isLoading && exchangeList.length > 0">
        <mat-button-toggle-group (change)="toggleChange($event)" value="Increase" class="toggle-group">
            <mat-button-toggle value="Increase">Increase</mat-button-toggle>
            <mat-button-toggle value="Decrease">Decrease</mat-button-toggle>
        </mat-button-toggle-group>
        <app-table-list [dataSource]="exchangeList" [columnsList]="displayedColumns" [pagination]="false"></app-table-list>
    </div>
    <app-error-message *ngIf="!isLoading && exchangeList.length === 0"></app-error-message>
</div>
