
.top-5-exchange-rates-container {
  text-align: center;
}

.toggle-group {
  width: 50%;
  margin-left: 33%;
  padding-bottom: 2%;
}
.mat-button-toggle {
  margin-right: 20% !important;
  border:1px solid black !important;
}

.mat-button-toggle-group {
  border-radius: 0px;
  border: none;
}

.mat-button-toggle-checked {
  background-color: #FFE6CC;
  border: 1px solid #D79B00 !important;
}
